body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a {
    color: #45cff2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.header img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 35vh; /* Header image crop */
    border-bottom: 2px solid #45cff2;
}

.title {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.subtitle {
    font-style: italic;
    margin-bottom: 20px;
    margin-left: 10px;
}

.tournament {
    border: 1px solid #45cff2; /* was ccc before */
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tournament h2 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}

.tournament ul {
    list-style-type: none;
    padding: 0;
}

.tournament li {
    margin-bottom: 10px;
    font-size: 1em;
    color: #666;
}
.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}