body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/bg-pattern-light.png');
    /* Repeat the background image both horizontally and vertically */
    background-repeat: repeat;
}

a {
    color: #45cff2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.header img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 35vh;
    /* Header image crop */
    border-bottom: 2px solid #45cff2;
}


.title {
    margin-bottom: 10px;
}

.title>h2 {
    font-size: 48px;
    margin-right: 15px;
}

#headline {
    margin-left: 12px;
}

.subtitle {
    font-style: italic;
    margin-bottom: 20px;
    margin-left: 10px;
}


.tournament h2 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}

.tournament ul {
    list-style-type: none;
    padding: 0;
}

.tournament li {
    margin-bottom: 10px;
    font-size: 1em;
    color: #666;
    margin-left: 16px;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.tournament {
    position: relative;
    border: 1px solid #45cff2;
    margin-bottom: 20px;
    padding: 16px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: azure;
}

.image-inline {
    display: inline-block;
    max-width: 50px;
    /* Adjust the width as per your requirement */
    vertical-align: middle;
    /* Aligns the image vertically with the text */
    margin-right: 15px;
}